body{
    background-color: #fcf2f2;
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header h1{
    text-align: center;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
    row-gap: 65px;
    margin-top: 68px;
}
.list .item{
    text-align: center;
   /* background: linear-gradient(135deg, rgba(0,0,0,0.4)
    0%, rgba(0,0,0,0.4) 25%, rgba(0,23,149,0.6) 50%, rgba(255,0,0,0.6) 100%);*/
    background-repeat: no-repeat;
    background-size:  400% 400%;
    padding: 20px;
    box-shadow: 5px 5px 20px #333;
    border-radius: 15px;
    letter-spacing: 1px;
    transition: 2s;
}
.list:hover .item{
    background-position: 100% 100%;
}
.list .item img{
    width: 90%;
    border-radius: 1rem;
}
.list .item img{
    width: 95%;
    border-radius: 1rem;
    height: 42%;
    
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #000000cb;
    color: #fff;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 15px;
   
   

}
.card{
    position: fixed;
    top:50px;
    left: 100%;
    width: 22rem;
   /*background-color: rgba(255, 255, 255, 0.1);*/
   
    box-shadow: 5px 5px 15px #333;
    height: 80vh;
    transition: 0.5s;
}
.listCard{
    background-image: linear-gradient(0deg, #e4d9d7 , transparent);
    height: 100%;
    box-shadow: #333;
    
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-100px);
}
.card h1{
    color: #1E2761;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.card .checkOut div{
    background-color: #2a2a2b;
    width: 70%;
    height: 46px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #353434;
    color: #fff;
}
.card .checkOut div:nth-child(3){
    background-color: rgb(43, 43, 43);
    width: 110px;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
